/* You can add global styles to this file, and also import other style files */
body{
        justify-content: center;
        margin-top: 10%;
        margin-left: 20%;
}

form{
        border:1px solid green;
        width: 80%;
        padding-bottom: 20px;
}
.form-group{
        margin-bottom: 12px;
        margin-left: 10px;
        width: 60%;
}
.mb-3{
        margin-left: 12px;
}
.btn{
    margin-left: 12px;
}

